VITE_API_BASE_URL=https://kalpjoytish-backend.onrender.com/api/astrologer
VITE_UPLOAD_IMAGE_URL=https://kalpjoytish-backend.onrender.com/api/upload/image
VITE_TOGGLE_ONLINE_URL=https://kalpjoytish-backend.onrender.com/api/astro/toggle-online
